
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121212;
    color: #E0E0E0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.profile-container {
    margin-top: 50px;
    background-color: #1e1e1e;
    padding: 30px;
    border-radius: 12px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 0 15px rgba(0, 255, 231, 0.1);
}

.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.tab-button {
    padding: 10px 20px;
    border: none;
    background-color: #00E676;
    color: #000000;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tab-button.active {
    background-color: rgb(71, 71, 71);
    color: #fff;
}
.tab-button:hover {
    background-color: #00C853;
    color: #fff;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

a {
    color: #00E5FF;
    text-decoration: none;
}

a:hover {
    color: #1DE9B6;
    text-decoration: underline;
}

ul {
    padding-left: 20px;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: none;
    background-color: #2a2a2a;
    color: #fff;
}

button.save-settings {
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(150, 150, 150);
    border: none;
    color: #ffffff;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}
